%h2 Organizations

- if current_user.organizations.present?
  %p You belong to #{pluralize(current_user.organizations.length, 'organization')}

  - datatable = EffectiveResources.best('EffectiveOrganizationsDatatable').new(self, namespace: :effective)
  = render_datatable(datatable)

- else
  %p You do not belong to any organizations.
