- url = (organization.persisted? ? effective_organizations.organization_path(organization) : effective_organizations.organizations_path)

= effective_form_with(model: organization, url: url) do |f|
  = render 'effective/organizations/fields', f: f

  = f.submit

- if organization.persisted?
  %h2 Representatives
  - datatable = EffectiveRepresentativesDatatable.new(organization_id: organization.id)
  = render_inline_datatable(datatable)
